{% extends "layout.njk" %}

{% block content %}
<div class="card table-container">

    <div class="header">
        <a href="/instructors/create" class="button">Novo</a>
        <form action="/instructors" method="GET">
            <input type="text" name="filter" placeholder="Nome ou atendimento">
            <button type="submit">Filtrar</button>
        </form>

    </div>

    <table width="100%">
        <thead>
            <tr>
                <th>Instructor</th>
                <th>Atendimento</th>
                <th>Alunos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for instructor in instructors %}
            <tr>
                <td>
                    <span style="background: url({{instructor.avatar_url}}) no-repeat center center / cover"></span>
                    {{instructor.name}}</td>
                <td>
                    {% for service in instructor.services %}
                        <span>{{service}}</span>
                    {% endfor %}
                </td>
                <td>{{instructor.total_students}}</td>
                <td><a href="/instructors/{{instructor.id}}">Ver</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
